<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eTrace_SFCFunction_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eTrace_SFCFunction_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <eTrace_SFCFunction_.My.MySettings>
            <setting name="eTrace_SFCFunction__eTraceSFCService_eTraceOracleERP" serializeAs="String">
                <value>http://cnapgzhoetqa01/eTrace_OracleERP/eTraceOracleERP.asmx</value>
            </setting>
            <setting name="eTrace_SFCFunction__eTraceOTOService_eTraceOTOService" serializeAs="String">
                <value>http://cnapgzhofs10/eTraceOTO/eTraceOTOService.asmx</value>
            </setting>
        </eTrace_SFCFunction_.My.MySettings>
    </userSettings>
    <applicationSettings>
        <eTrace_SFCFunction_.My.MySettings>
            <setting name="eTrace_SFCFunction__eTraceTDCService_eTraceTDCService" serializeAs="String">
                <value>http://cnapgzhosql02/eTrace_TDC/eTraceTDCService.asmx</value>
            </setting>
        </eTrace_SFCFunction_.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
